@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
$border-color: #ddd;
$input-background: #333;
* {
    box-sizing: border-box;
}
@mixin flex($dir,$jc){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: center;
}


.navbar{
    background-color: #08192d;
    .inav{
        @include flex(row,space-around);
        img{
            width: 161px;
            height: 121px;
        }
        ul{
            @include flex(row,space-around);

            li{
                list-style: none;
                a{
                    color: #FFF;
                    font-size: 20px;
                    margin-left: 60px;
                    text-decoration: none;

                
                }
            }
        }
    }
}
.header{
    background-color: #0a183d;
    height: 88vh;
    @include flex(row,space-around);

    h1{
        color: #FFF;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin-bottom: 25px;
        line-height: .9;
        position: relative;
        top: 50px;
        span{
            color: #fc0254;
        }
    }
}
.all{
    padding: 5%;
    @include flex(column,center);
    .h1{
        color: #fc0254;
        font-family: 'Montserrat', sans-serif;
        font-size: 70px;
        margin-bottom: 25px;
    }
}
#hd2{
    height: 400px;
    width: 400px;
}
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image,
.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.img {
    position: relative;
    margin: 0 20px;

    .title {
        position: absolute;
        bottom: 4px;
        color: white;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        padding: 20px;
    }

    img {
        width: 800px;
        height: auto;
    }
}

.img-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-controller {
    display: flex;
    width: 800px;

    input {
        background-color: $input-background;
        border: 1px solid $border-color;
        padding: 10px;
        flex-grow: 1;
        border: none;
        outline: none;
        color: white;
        border: 1px solid white;

        &::placeholder {
            color: white;
        }

    }
    button {
        background-color: $input-background;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
        padding: 10px;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
}

.inputs {
    @extend .buttons;
    flex-grow: 1;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        outline: none;
        border: 1px solid orangered;
        background-color: #fc0254;
        color: white;
        padding: 15px;
        cursor: pointer;
    }
}